.beverages-sprite {
  display: inline-block;
  background-image: url('@/assets/sprite/beverages-sprite.jpeg');
  background-repeat: no-repeat;
}

.afujiaduo {
  background-position: -0px -0px;
  width: 84px;
  height: 84px;
}

.bingshanmaoyudongyin {
  background-position: -84px -0px;
  width: 84px;
  height: 84px;
}

.boziqishui {
  background-position: -168px -0px;
  width: 84px;
  height: 84px;
}

.chaoZUNpijiu {
  background-position: -252px -0px;
  width: 84px;
  height: 84px;
}

.dabingguner {
  background-position: -336px -0px;
  width: 84px;
  height: 84px;
}

.dayinniang {
  background-position: -420px -0px;
  width: 84px;
  height: 84px;
}

.dongniang {
  background-position: -504px -0px;
  width: 84px;
  height: 84px;
}

.fengzhu {
  background-position: -588px -0px;
  width: 84px;
  height: 84px;
}

.gufanaiyoubingsha {
  background-position: -672px -0px;
  width: 84px;
  height: 84px;
}

.guisha {
  background-position: -756px -0px;
  width: 84px;
  height: 84px;
}

.gumingdibingjiling {
  background-position: -0px -84px;
  width: 84px;
  height: 84px;
}

.guoweiHighBall {
  background-position: -84px -84px;
  width: 84px;
  height: 84px;
}

.guoweiSOUR {
  background-position: -168px -84px;
  width: 84px;
  height: 84px;
}

.haidenver {
  background-position: -252px -84px;
  width: 84px;
  height: 84px;
}

.hongmoguanhongcha {
  background-position: -336px -84px;
  width: 84px;
  height: 84px;
}

.hongwu {
  background-position: -420px -84px;
  width: 84px;
  height: 84px;
}

.hongyouguozhi {
  background-position: -504px -84px;
  width: 84px;
  height: 84px;
}

.huoshuqiu {
  background-position: -588px -84px;
  width: 84px;
  height: 84px;
}

.jiaofu {
  background-position: -672px -84px;
  width: 84px;
  height: 84px;
}

.kafei {
  background-position: -756px -84px;
  width: 84px;
  height: 84px;
}

.lingrenzui {
  background-position: -0px -168px;
  width: 84px;
  height: 84px;
}

.lvcha {
  background-position: -84px -168px;
  width: 84px;
  height: 83px;
}

.meijiu {
  background-position: -168px -168px;
  width: 84px;
  height: 84px;
}

.mojiekafei {
  background-position: -252px -168px;
  width: 84px;
  height: 84px;
}

.mojituobaojiangqiu {
  background-position: -336px -168px;
  width: 84px;
  height: 84px;
}

.nigeluoni {
  background-position: -420px -168px;
  width: 84px;
  height: 84px;
}

.niunai {
  background-position: -504px -168px;
  width: 84px;
  height: 84px;
}

.putongjianshencha {
  background-position: -588px -168px;
  width: 84px;
  height: 84px;
}

.qi {
  background-position: -672px -168px;
  width: 84px;
  height: 84px;
}

.qibaojian {
  background-position: -756px -168px;
  width: 84px;
  height: 84px;
}

.qilin {
  background-position: -0px -252px;
  width: 84px;
  height: 84px;
}

.quejiu {
  background-position: -84px -252px;
  width: 84px;
  height: 84px;
}

.riyuexing {
  background-position: -168px -252px;
  width: 84px;
  height: 84px;
}

.shenzhimai {
  background-position: -252px -252px;
  width: 84px;
  height: 84px;
}

.shisiye {
  background-position: -336px -252px;
  width: 84px;
  height: 84px;
}

.shuilaiji {
  background-position: -420px -252px;
  width: 84px;
  height: 84px;
}

.taikongpijiu {
  background-position: -504px -252px;
  width: 84px;
  height: 84px;
}

.tiandiwuyong {
  background-position: -588px -252px;
  width: 84px;
  height: 84px;
}

.tiangouyong {
  background-position: -672px -252px;
  width: 84px;
  height: 84px;
}

.weixingbingkafei {
  background-position: -756px -252px;
  width: 84px;
  height: 84px;
}

.xiao {
  background-position: -0px -336px;
  width: 85px;
  height: 84px;
}

.xinghongemo {
  background-position: -85px -336px;
  width: 84px;
  height: 84px;
}

.yangzhiganlu {
  background-position: -169px -336px;
  width: 84px;
  height: 84px;
}

.yaojingyulu {
  background-position: -253px -336px;
  width: 84px;
  height: 84px;
}

.yuemianhuojian {
  background-position: -337px -336px;
  width: 84px;
  height: 84px;
}

.yulucha {
  background-position: -421px -336px;
  width: 84px;
  height: 84px;
}