:root {
  --color-common-green: rgb(133, 178, 108);
  --color-common-orange: rgb(223, 149, 105);
  --color-common-blue: rgb(126, 161, 185);
  --color-common-yellow: rgb(223, 194, 99);
  --color-common-pink: rgb(226, 154, 166);
  --color-common-brown: rgb(212, 176, 123);
  --color-light-brown: rgb(251, 239, 203);

  --color-text: rgb(51, 54, 57);
  --color-border: rgb(224, 224, 230);
  --color-header-extra-text: rgb(118, 124, 130);
  --color-tab-border: rgb(239, 239, 245);
  --color-item-pending: rgb(243, 243, 245);
}
