body {
  user-select: none;
}
img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}
.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.text-price {
  color: var(--color-price);
}

.pd12 {
  padding: 12px;
}