$color-tag-beverage-text: #9b5925;
$color-tag-beverage-border: #5a7e87;
$color-tag-beverage-background: #b0cfd7;

$color-tag-hate-text: #e50d0d;
$color-tag-hate-border: #000000;
$color-tag-hate-background: #5d453a;

$color-tag-like-text: #830000;
$color-tag-like-border: #9d5437;
$color-tag-like-background: #e6b4a6;

:export {
  colorTagBeverageText: $color-tag-beverage-text;
  colorTagBeverageBorder: $color-tag-beverage-border;
  colorTagBeverageBackground: $color-tag-beverage-background;

  colorTagHateText: $color-tag-hate-text;
  colorTagHateBorder: $color-tag-hate-border;
  colorTagHateBackground: $color-tag-hate-background;

  colorTagLikeText: $color-tag-like-text;
  colorTagLikeBorder: $color-tag-like-border;
  colorTagLikeBackground: $color-tag-like-background;
}

:root {
  --color-tag-beverage-text: #9b5925;
  --color-tag-beverage-border: #5a7e87;
  --color-tag-beverage-background: #b0cfd7;

  --color-tag-hate-text: #e50d0d;
  --color-tag-hate-border: #000000;
  --color-tag-hate-background: #5d453a;

  --color-tag-like-text: #830000;
  --color-tag-like-border: #9d5437;
  --color-tag-like-background: #e6b4a6;
}