.character-special-sprite-item {
  background-image: url('@/assets/sprite/character-special-sprite.jpeg');
  background-repeat: no-repeat;
  width: 138px;
  height: 138px;
}

.bengbengtiaotiaodesanyaojing {
  background-position: -0px -0px;
}

.mengchengguo {
  background-position: -138px -0px;
}
