.ingredients-sprite-item {
  background-image: url('@/assets/sprite/ingredients-sprite.jpeg');
  background-repeat: no-repeat;
  width: 84px;
  height: 84px;
}

.baiguo {
  background-position: -0px -0px;
}

.bamuman {
  background-position: -84px -0px;
}

.banli {
  background-position: -168px -0px;
}

.bili {
  background-position: -252px -0px;
}

.bingdilian {
  background-position: -336px -0px;
}

.bingkuai {
  background-position: -420px -0px;
}

.chantui {
  background-position: -504px -0px;
}

.digua {
  background-position: -588px -0px;
}

.doufu {
  background-position: -672px -0px;
}

.fengmi {
  background-position: -756px -0px;
}

.haidan {
  background-position: -0px -84px;
}

.haitai {
  background-position: -84px -84px;
}

.heimaozhurou {
  background-position: -168px -84px;
}

.heiyan {
  background-position: -252px -84px;
}

.heniu {
  background-position: -336px -84px;
}

.hetun {
  background-position: -420px -84px;
}

.hongdou {
  background-position: -504px -84px;
}

.huanggua {
  background-position: -588px -84px;
}

.huangyou {
  background-position: -672px -84px;
}

.huantanhua {
  background-position: -756px -84px;
}

.jidan {
  background-position: -0px -168px;
}

.jinqiangyu {
  background-position: -84px -168px;
}

.jishangjinqiangyu {
  background-position: -168px -168px;
}

.kekedou {
  background-position: -252px -168px;
}

.lajiao {
  background-position: -336px -168px;
}

.lianzi {
  background-position: -420px -168px;
}

.luobu {
  background-position: -504px -168px;
}

.lurou {
  background-position: -588px -168px;
}

.lushui {
  background-position: -672px -168px;
}

.meizi {
  background-position: -756px -168px;
}

.mianfen {
  background-position: -0px -252px;
}

.mogu {
  background-position: -84px -252px;
}

.naiyou {
  background-position: -168px -252px;
}

.nangua {
  background-position: -252px -252px;
}

.ningmeng {
  background-position: -336px -252px;
}

.niurou {
  background-position: -420px -252px;
}

.nuomi {
  background-position: -504px -252px;
}

.pangxie {
  background-position: -588px -252px;
}

.putao {
  background-position: -672px -252px;
}

.sanwenyu {
  background-position: -756px -252px;
}

.songlu {
  background-position: -0px -336px;
}

.songzi {
  background-position: -84px -336px;
}

.taozi {
  background-position: -168px -336px;
}

.tudou {
  background-position: -252px -336px;
}

.xia {
  background-position: -336px -336px;
}

.xiangchun {
  background-position: -420px -336px;
}

.xianhua {
  background-position: -504px -336px;
}

.xihongshi {
  background-position: -588px -336px;
}

.xilanhua {
  background-position: -672px -336px;
}

.yangcong {
  background-position: -756px -336px;
}

.yezhurou {
  background-position: -0px -420px;
}

.yiner {
  background-position: -84px -420px;
}

.yueguangcao {
  background-position: -168px -420px;
}

.zhangyu {
  background-position: -252px -420px;
}

.zhishi {
  background-position: -336px -420px;
}

.zhurou {
  background-position: -420px -420px;
}

.zhusun {
  background-position: -504px -420px;
}

.zhuzi {
  background-position: -588px -420px;
}

.zunyu {
  background-position: -672px -420px;
}
