.recipes-sprite-item {
  background-image: url('@/assets/sprite/recipes-sprite.jpeg');
  background-repeat: no-repeat;
}

.baiguoluobupaigutang {
  background-position: -0px -0px;
}

.bailuzhensong {
  background-position: -88px -0px;
}

.baitaoshengbaqiao {
  background-position: -176px -0px;
}

.baixue {
  background-position: -264px -0px;
}

.bannidikedan {
  background-position: -352px -0px;
}

.basidigua {
  background-position: -440px -0px;
}

.beijitianxiamitaosela {
  background-position: -528px -0px;
}

.bisikaiwanbinggan {
  background-position: -616px -0px;
}

.businiao {
  background-position: -704px -0px;
}

.changfagongzhu {
  background-position: -792px -0px;
}

.chaorousi {
  background-position: -0px -84px;
}

.choudoufu {
  background-position: -88px -84px;
}

.cishenpinpan {
  background-position: -176px -84px;
}

.cuixuanfeng {
  background-position: -264px -84px;
}

.cuizhuyingchun {
  background-position: -352px -84px;
}

.dabanshao {
  background-position: -440px -84px;
}

.dajianghuchuanji {
  background-position: -528px -84px;
}

.dasheyan {
  background-position: -616px -84px;
}

.diyujixinjinggao！ {
  background-position: -704px -84px;
}

.doufuguo {
  background-position: -792px -84px;
}

.doufuweiceng {
  background-position: -0px -168px;
}

.doujiazhenggao {
  background-position: -88px -168px;
}

.duzhanghuayuan {
  background-position: -176px -168px;
}

.ertianyiliu {
  background-position: -264px -168px;
}

.fantuan {
  background-position: -352px -168px;
}

.fengmaozichahui {
  background-position: -440px -168px;
}

.fenzidan {
  background-position: -528px -168px;
}

.haidancishen {
  background-position: -616px -168px;
}

.haidanxinxuanbing {
  background-position: -704px -168px;
}

.haidanzhengdan {
  background-position: -792px -168px;
}

.haidaoxunrou {
  background-position: -0px -252px;
}

.haixianweicengtang {
  background-position: -88px -252px;
}

.hangongcangjiao {
  background-position: -176px -252px;
}

.hehuayumizhan {
  background-position: -264px -252px;
}

.heianwuzhi {
  background-position: -352px -252px;
}

.hetangyuese {
  background-position: -440px -252px;
}

.hongdoudafu {
  background-position: -528px -252px;
}

.hongshaomanyu {
  background-position: -616px -252px;
}

.huaguangyujianbao {
  background-position: -704px -252px;
}

.huangjinsuyubing {
  background-position: -792px -252px;
}

.huangyouniupai {
  background-position: -0px -336px;
}

.huaniaofengyue {
  background-position: -88px -336px;
}

.huantanhuagao {
  background-position: -176px -336px;
}

.huanxiangfengmi {
  background-position: -264px -336px;
}

.huanxiangfotiaoqiang {
  background-position: -352px -336px;
}

.huanxiangxinglianchuan {
  background-position: -440px -336px;
}

.huilingdunniupai {
  background-position: -528px -336px;
}

.hulatang {
  background-position: -616px -336px;
}

.huoxing {
  background-position: -704px -336px;
}

.jingxia！damaoxian {
  background-position: -792px -336px;
}

.juejiaoguandongzhu {
  background-position: -0px -420px;
}

.jurenyuzishao {
  background-position: -88px -420px;
}

.kaobamuman {
  background-position: -176px -420px;
}

.kaodigua {
  background-position: -264px -420px;
}

.kaomogu {
  background-position: -352px -420px;
}

.lengdoufu {
  background-position: -440px -420px;
}

.liangcaidiaohua {
  background-position: -528px -420px;
}

.liliangtang {
  background-position: -616px -420px;
}

.liushuisumian {
  background-position: -704px -420px;
}

.longyintaozi {
  background-position: -792px -420px;
}

.luohanshangsu {
  background-position: -0px -504px;
}

.lushuizhudan {
  background-position: -88px -504px;
}

.lvyexiangu {
  background-position: -176px -504px;
}

.manyunendanjing {
  background-position: -264px -504px;
}

.maofan {
  background-position: -352px -504px;
}

.maomikeluli {
  background-position: -440px -504px;
}

.maomipisa {
  background-position: -528px -504px;
}

.maomixishui {
  background-position: -616px -504px;
}

.maoyurongyandoufu {
  background-position: -704px -504px;
}

.maoyusansebingjiling {
  background-position: -792px -504px;
}

.mapodoufu {
  background-position: -0px -588px;
}

.mashu {
  background-position: -88px -588px;
}

.meizichapaofan {
  background-position: -176px -588px;
}

.mijianlizi {
  background-position: -264px -588px;
}

.mitaohongshaorou {
  background-position: -352px -588px;
}

.mizhichashao {
  background-position: -440px -588px;
}

.mizhixianjunbao {
  background-position: -528px -588px;
}

.mizhixiaoyugan {
  background-position: -616px -588px;
}

.moguroupian {
  background-position: -704px -588px;
}

.monvdewutahui {
  background-position: -792px -588px;
}

.naixiangmogutang {
  background-position: -0px -672px;
}

.naiyouduncai {
  background-position: -88px -672px;
}

.naiyoujuxie {
  background-position: -176px -672px;
}

.nanguaxiazhong {
  background-position: -264px -672px;
}

.nengliangchuan {
  background-position: -352px -672px;
}

.nikaoziyu {
  background-position: -440px -672px;
}

.niurougaijiaofan {
  background-position: -528px -672px;
}

.niurouyuanyanghuoguo {
  background-position: -616px -672px;
}

.nizhuantiandi！ {
  background-position: -704px -672px;
}

.penglaiyuzhi {
  background-position: -792px -672px;
}

.putongxiaodangao {
  background-position: -0px -756px;
}

.qiseyanggeng {
  background-position: -88px -756px;
}

.quanroushengyan {
  background-position: -176px -756px;
}

.ranjinbuding {
  background-position: -264px -756px;
}

.resongbing {
  background-position: -352px -756px;
}

.saixiongzhang {
  background-position: -440px -756px;
}

.sangqizhishitiao {
  background-position: -528px -756px;
}

.sanwenyutianfuluo {
  background-position: -616px -756px;
}

.shengbailianzigao {
  background-position: -704px -756px;
}

.shengmingzhiyuan {
  background-position: -792px -756px;
}

.shenjintianfuluo {
  background-position: -0px -840px;
}

.shiguozhusundunrou {
  background-position: -88px -840px;
}

.shiliyinxing {
  background-position: -176px -840px;
}

.shizitou {
  background-position: -264px -840px;
}

.shoumatuanzi {
  background-position: -352px -840px;
}

.shouwoshousi {
  background-position: -440px -840px;
}

.shucaizhuanji {
  background-position: -528px -840px;
}

.shuijiao {
  background-position: -616px -840px;
}

.shuizhuyu {
  background-position: -704px -840px;
}

.sikangbing {
  background-position: -792px -840px;
}

.songzigao {
  background-position: -0px -924px;
}

.taijibaguayudu {
  background-position: -88px -924px;
}

.tangyuan {
  background-position: -176px -924px;
}

.taohuageng {
  background-position: -264px -924px;
}

.taohualiulijuan {
  background-position: -352px -924px;
}

.tianshibanlimengu {
  background-position: -440px -924px;
}

.tishenbuding {
  background-position: -528px -924px;
}

.tongluoshao {
  background-position: -616px -924px;
}

.tudoukelebing {
  background-position: -704px -924px;
}

.tungulamian {
  background-position: -792px -924px;
}

.wennuanfantuan {
  background-position: -0px -1008px;
}

.wuyishiyaoguaimusi {
  background-position: -88px -1008px;
}

.xiangchunjianbing {
  background-position: -176px -1008px;
}

.xiangjiansanwenyu {
  background-position: -264px -1008px;
}

.xiangjianshuangguroujuan {
  background-position: -352px -1008px;
}

.xiangzhachantui {
  background-position: -440px -1008px;
}

.xiaoxiaodetianmi「duyao」 {
  background-position: -528px -1008px;
}

.xinghongemodangao {
  background-position: -616px -1008px;
}

.yangwangtianhuabanpai {
  background-position: -704px -1008px;
}

.yangxinzhou {
  background-position: -792px -1008px;
}

.yanhuanggua {
  background-position: -0px -1092px;
}

.yanjiang {
  background-position: -88px -1092px;
}

.yeweijianong {
  background-position: -176px -1092px;
}

.yiji☆bisha {
  background-position: -264px -1092px;
}

.yinghuabuding {
  background-position: -352px -1092px;
}

.yingluoxue {
  background-position: -440px -1092px;
}

.yinyushuiguopai {
  background-position: -528px -1092px;
}

.yishihuifan {
  background-position: -616px -1092px;
}

.youdoufu {
  background-position: -704px -1092px;
}

.youmeng {
  background-position: -792px -1092px;
}

.yuebing {
  background-position: -0px -1176px;
}

.yueguangtuanzi {
  background-position: -88px -1176px;
}

.yuezhilianren {
  background-position: -176px -1176px;
}

.yunshanmianhuatang {
  background-position: -264px -1176px;
}

.yuyuelongmen {
  background-position: -352px -1176px;
}

.zachui {
  background-position: -440px -1176px;
}

.zhabamuman {
  background-position: -528px -1176px;
}

.zhafanqietiao {
  background-position: -616px -1176px;
}

.zhangyushao {
  background-position: -704px -1176px;
}

.zhaxiatianfuluo {
  background-position: -792px -1176px;
}

.zhazhuroupai {
  background-position: -0px -1260px;
}

.zhen·haixianweicengtang {
  background-position: -88px -1260px;
}

.zhishidan {
  background-position: -176px -1260px;
}

.zhizhuroufantuan {
  background-position: -264px -1260px;
}

.zhizunhaixianmian {
  background-position: -352px -1260px;
}

.zhudoufu {
  background-position: -440px -1260px;
}

.zhuludie {
  background-position: -528px -1260px;
}

.zhuquji {
  background-position: -616px -1260px;
}

.zhurougaijiaofan {
  background-position: -704px -1260px;
}

.zhurouzunyuxun {
  background-position: -792px -1260px;
}

.zhusunchaorou {
  background-position: -0px -1344px;
}

.zhutongfenzhengrou {
  background-position: -88px -1344px;
}

.zhutongshaozuixia {
  background-position: -176px -1344px;
}

.zhutongzhengdan {
  background-position: -264px -1344px;
}
