.particles {
  position: relative;
  width: 100%;
  height: calc(100vh - 54px);
  background-image: url('@/assets/bg/dream.png');
  background-size: cover;
  background-position: center;
  .firefly {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: radial-gradient(
      rgba(255, 252, 0, 0.75),
      rgba(200, 197, 12, 0.4),
      rgba(0, 255, 255, 0.1),
      rgba(255, 255, 235, 0.05));
  }
}
